aniso8601==9.0.1
blinker==1.8.2
cachelib==0.9.0
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
config==0.5.1
dnspython==2.7.0
email_validator==2.2.0
Faker==33.0.0
Flask==3.0.3
Flask-Caching==2.3.0
Flask-Excel==0.0.7
Flask-Login==0.6.3
Flask-Principal==0.4.0
Flask-RESTful==0.3.10
Flask-Security==5.5.2
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.1.1
google-generativeai
idna==3.10
importlib_resources==6.4.5
itsdangerous==2.2.0
Jinja2==3.1.4
lml==0.1.0
MarkupSafe==3.0.0
passlib==1.7.4
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-webio==0.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
setuptools
six==1.16.0
spacy
SQLAlchemy==2.0.35
texttable==1.7.0
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.4
WTForms==3.1.2
